Repository organization-ai-projects/shared-base: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, tsc --noEmit

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json,yml,yaml,md}": ["prettier --write"],
  "*.css": ["stylelint --fix"],
  "*.html": ["prettier --write"],
  "*.ts": ["tsc --noEmit"]
}

chore: restructure tests and update core utilities
  src/index.ts
  src/tests/index.test.ts
  src/utils/arrayUtils.ts
  src/utils/logger.ts
  src/utils/stringUtils.ts
  tests/arrayUtils.test.ts
  tests/dates/advancedDateUtils.test.ts
  tests/dates/dateUtils.test.ts
  tests/dates/differenceUtils.test.ts
  tests/dates/formatUtils.test.ts
  tests/dates/manipulationUtils.test.ts
  tests/dates/rangeUtils.test.ts
  tests/dates/validationUtils.test.ts
  tests/envUtils.test.ts
  tests/error.test.ts
  tests/fileUtils.test.ts
  tests/hooks/useDebounce.test.ts
  tests/hooks/useFetch.test.tsx
  tests/index.test.ts
  tests/logger.test.ts
  tests/mockLogger.test.ts
  tests/mocks/MockLogger.ts
  tests/mocks/winston.mock.ts
  tests/objectUtils.test.ts
  tests/randomUtils.test.ts
  tests/stringUtils.test.ts
  tests/validation/emailUtils.test.ts
  tests/validation/uuidUtils.test.ts
Due: prettier --write, eslint --fix, tsc --noEmit

chore(deps): update dependencies
  package.json
Due: prettier --write

chore: add commitlint and integrate with husky
  .commitlintrc.js
  .husky/commit-msg
  .husky/husky.sh
  .husky/pre-commit
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: update pnpm-lock.yaml to sync with package.json
  generateIndex.ts
Due: prettier --write, eslint --fix, tsc --noEmit

chore(husky): update hooks for compatibility with modern versions
  .husky/commit-msg
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/post-rewrite
  .husky/pre-commit
  .husky/pre-push
  .husky/pre-rebase
  .husky/prepare-commit-msg
Due: none

chore(ci): update workflow triggers for push, PR, and manual runs
  .github/workflows/ci.yml
Due: prettier --write

chore(ci): include feat/** in workflow triggers
  .github/workflows/ci.yml
Due: prettier --write

chore: update husky configuration for v9 compatibility
  package.json
Due: prettier --write

chore(ci): update ci/cd workflow
  .github/workflows/ci.yml
Due: prettier --write

chore(release): 2.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b3bfab54dae40564837f339eba3d6ddfb483bff7
Due: none

chore(release): update semantic-release configuration
  release.config.mjs
Due: none

chore(test): review test error
  tests/arrayUtils.test.ts
Due: prettier --write, eslint --fix, tsc --noEmit
